@import base

.container
	width: 1000px
	padding: 0 15px
	margin: 0 auto

	+r(1000)
		width: 767px

	+r(767)
		width: 576px

	+r(576)
		width: 100%

.header
	position: fixed
	padding: 30px 0
	left: 0
	right: 0
	top: 0
	transition: all .6s
	z-index: 100

	+r(1000)
		padding: 20px 0

	&--active
		background-color: rgba(0, 0, 0, .8)
		padding: 10px 0

	&__container
		display: flex
		justify-content: space-between
		align-items: center

	&__list
		display: flex
		gap: 35px
		font-weight: 600

		+r(767)
			gap: 12px

		+r(567)
			display: none

	a
		position: relative
		text-decoration: none
		color: #fff
		font-size: 18px

		+r(767)
			font-size: 16px

		&::before
			background: #AB8B33
			bottom: 0
			content: ""
			height: 1px
			position: absolute
			transition: all .6s
			width: 0

		&:hover
			color: #AB8B33

			&::before
				width: 100%

		&:active
			color: #c2c2c3

	&__logo
		display: block
		width: 62px

		+r(767)
			width: 50px

		&::before
			display: none

		img
			width: 100%

	&__tel
		+r(1000)
			display: none

.hero
	background-image: url(../images/dist/header__bgd.png)
	background-repeat: no-repeat
	background-size: cover
	background-position: center
	padding: 250px 0 165px

	+r(767)
		padding: 210px 0 115px

	+r(576)
		padding: 170px 0 90px

	&--page
		padding: 160px 0 0

		+r(1000)
			padding-top: 136px

		+r(767)
			padding-top: 115px

	&__title
		margin-bottom: 35px
		font-size: 36px
		line-height: 1.15
		color: #F2F2F2

		+r(576)
			font-size: 30px

		br
			+r(1000)
				display: none

	&__btn
		display: flex
		position: relative
		max-width: fit-content
		padding: 25px 85px
		background-color: #fff
		text-decoration: none
		color: $text
		font-weight: 700
		font-size: 16px
		border-radius: 4px

		+r(567)
			padding: 25px 100px

		+r(480)
			max-width: 100%
			margin-bottom: 15px
			justify-content: center

		&::after
			content: ""
			display: block
			position: absolute
			border: 1px solid #fff
			border-radius: 4px
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			animation: pulse-one 4s linear infinite 2s

		&::before
			content: ""
			display: block
			position: absolute
			border: 1px solid #fff
			border-radius: 4px
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			animation: pulse-one 4s linear infinite

		&:hover
			color: #fff
			background-color: #AB8B33

		&:active
			color: $accent
			background-color: #c2c2c3
			bottom: -1px
			right: -1px

		&--bg
			display: none
			background-color: rgba(17, 17, 17, 0.6)
			color: #fff
			+last

			+r(480)
				display: flex

.about
	padding: 50px 0 50px
	background: #fff

	&__container
		+r(767)
			position: relative

	&__info
		display: flex
		justify-content: space-between
		margin-bottom: 25px
		align-items: center

	&__title
		color: $text
		font-size: 36px

	svg, path
		transition: all .6s

	&__more
		display: flex
		position: relative
		align-items: center
		text-decoration: none
		color: #AB8B33
		font-size: 16px
		font-weight: 600

		+r(767)
			position: absolute
			bottom: -50px
			font-size: 14px

		span
			padding-right: 8px

		&:hover
			color: #AB8B33

			&::before
				width: 100%

			svg, path
				fill: #AB8B33

		&:active
			color: #c2c2c3

			&::before
				width: 100%
				background: #c2c2c3

			svg, path
				fill: #c2c2c3

		&::before
			background: #AB8B33
			bottom: 0
			content: ""
			height: 1px
			position: absolute
			transition: all .6s
			width: 0

	&__subtitle
		margin-bottom: 5px
		color: $text
		font-size: 16px

	&__block
		display: flex
		gap: 2%

		&--page
			+r(567)
				flex-wrap: wrap
				gap: 50px

		p
			font-size: 16px
			line-height: 1.18

			&:last-child
				margin-bottom: 0

		li
			position: relative
			margin-bottom: 7px
			color: #686868
			padding-left: 15px

			&::before
				content: ""
				display: block
				position: absolute
				left: 0
				top: 7px
				background: #C4C4C4
				width: 5px
				height: 5px
				border-radius: 50%

			span
				display: block
				color: #111

		&_text
			padding: 20px
			width: 57%
			background: #fff
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2)
			border-radius: 8px

			+r(1000)
				width: 54%

			+r(767)
				width: 100%

			&--page
				+r(767)
					width: 51%

				+r(567)
					width: 100%

			p
				margin-bottom: 20px
				color: $text

		&_list
			width: 41%
			background: #fff
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2)
			border-radius: 8px
			padding: 20px

			+r(1000)
				width: 44%

			+r(767)
				display: none

			&--page
				+r(767)
					display: block
					width: 47%

				+r(567)
					width: 100%

			p
				margin-bottom: 7px
				color: #686868

.case
	padding: 50px 0
	background: #fff

	+r(1000)
		padding: 25px 0

	&__title
		margin-bottom: 20px
		color: $text
		font-size: 36px
		font-weight: 700

	&__wrap
		display: flex
		flex-wrap: wrap
		gap: 20px

		+r(1000)
			gap: 25px 12px

		+r(767)
			gap: 15px

		&_item
			margin: 0 auto
			width: 23%
			padding: 20px 15px
			background: #fff
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2)
			border-radius: 8px
			text-decoration: none

			&:hover
				transform: scale(.97)

			&:active
				transform: scale(.99)

			+r(1000)
				width: 32%

			+r(767)
				display: flex
				width: 100%
				padding: 15px

	&__icon
		margin-bottom: 8px
		width: 62px

		+r(767)
			margin: 0 8px 0 0

	&__subtitle
		margin-bottom: 8px
		color: $text
		font-size: 16px
		font-weight: 500

		+r(767)
			margin-bottom: 2px

	p
		color: #686868
		font-size: 12px
		font-weight: 500
		font-style: italic
		line-height: 14px

.project
	padding: 50px 0
	background: #fff

	+r(767)
		padding: 40px 0 100px

	&__container
		+r(767)
			position: relative

	&__title
		color: $text
		font-size: 33px
		font-weight: 800

	&__info
		display: flex
		justify-content: space-between
		margin-bottom: 25px
		align-items: center

		svg, path
			transition: all .6s

	&__more
		display: flex
		position: relative
		align-items: center
		text-decoration: none
		color: #AB8B33
		font-size: 16px
		font-weight: 600

		+r(767)
			position: absolute
			bottom: -50px
			font-size: 14px

		span
			padding-right: 8px

		&:hover
			color: #AB8B33

			&::before
				width: 100%

			svg, path
				fill: #AB8B33

		&:active
			color: #c2c2c3

			&::before
				width: 100%
				background: #c2c2c3

			svg, path
				fill: #c2c2c3

		&::before
			background: #AB8B33
			bottom: 0
			content: ""
			height: 1px
			position: absolute
			transition: all .6s
			width: 0

	&__wrap
		display: flex
		flex-wrap: wrap
		gap: 30px 20px

		+r(1000)
			gap: 25px 10px

		+r(767)
			gap: 25px

		&_title
			font-weight: 600
			font-size: 16px
			line-height: 19px
			color: $text
			margin-bottom: 5px

			+r(1000)
				font-weight: 800
				font-size: 14px
				line-height: 16px

		&_subtitle
			font-weight: 600
			font-size: 16px
			line-height: 19px

			+r(1000)
				font-size: 14px
				line-height: 16px

		&_img
			display: block
			position: relative
			padding-top: 70%
			width: 100%
			margin-bottom: 10px
			overflow: hidden
			border-radius: 8px

			&:hover
				transform: scale(.97)

			&:active
				transform: scale(.99)

			+r(1000)
				padding-top: 67%

			+r(767)
				padding-top: 60%

			img
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				min-height: 100%
				min-width: 100%
				width: 100%

		&_item
			margin: 0 auto
			padding: 20px 20px 10px
			width: 48%
			background: #fff
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2)
			border-radius: 8px

			+r(1000)
				width: 49%

			+r(767)
				width: 100%

			ul
				display: flex
				flex-wrap: wrap
				gap: 8px 60px
				line-height: 15px

			li
				position: relative
				padding-left: 20px

			p
				font-size: 16px
				line-height: 19px

				+r(1000)
					font-size: 14px
					line-height: 16px

			svg
				position: absolute
				left: 0

.info
	padding: 50px 0
	background: $text
	color: #fff

	&__title
		margin-bottom: 25px
		font-weight: 800
		font-size: 32px
		line-height: 42px
		color: #fff

	&__wrap
		display: flex
		flex-wrap: wrap
		gap: 5%

		+r(1000)
			gap: 25px

		&_block
			width: 29%

			+r(1000)
				display: flex
				gap: 2%
				width: 100%

			+r(767)
				flex-wrap: wrap

		&_contact
			+r(1000)
				width: 48%

			+r(767)
				width: 100%

			ul
				margin-bottom: 40px

			li
				position: relative
				padding-left: 20px
				margin-bottom: 15px

			svg
				position: absolute
				left: 0

			h3
				margin-bottom: 5px
				font-weight: 600
				font-size: 16px
				line-height: 19px

			a
					color: #fff
					font-size: 16px
					line-height: 19px
					text-decoration: none

					&:hover
						color: #AB8B33

					&:active
						color: #c2c2c3

		&_form
			+r(1000)
				width: 48%

			+r(767)
				width: 100%

			input, button
				width: 100%
				line-height: 25px
				margin-bottom: 15px
				background: transparent
				border: none
				border-bottom: 1px solid #fff
				color: #fff
				text-align: left

				&:last-child
					margin-bottom: 0

			button
				color: #686868

				&:hover
					color: #fff

		&_maps
			width: 66%
			border-radius: 8px

			+r(1000)
				width: 100%

			iframe
				width: 100%
				height: 470px
				border-radius: 8px

				+r(1000)
					height: 355px

				+r(767)
					height: 245px

.footer
	display: flex
	padding: 25px 0
	background: #fff

	&__info
		display: flex
		justify-content: space-between
		font-weight: 400
		font-size: 12px
		line-height: 14px

		+r(767)
			flex-direction: column
			align-items: center
			gap: 7px

		a
			color: #000

			&:hover
				color: #AB8B33

			&:active
				color: #c2c2c3

		span
			color: #000

.file
	padding: 50px 0
	background: #fff

	+r(1000)
		padding: 25px 0 50px

	+r(767)
		padding: 25px 0

	&__title
		color: $text
		font-size: 36px
		font-weight: 800
		line-height: 42px
		margin-bottom: 20px

	&__subtitle
		margin-bottom: 20px
		font-weight: 500
		font-size: 24px
		line-height: 28px
		color: $text

	&__list
		display: flex
		flex-wrap: wrap
		border-radius: 8px
		gap: 25px
		margin-bottom: 25px

		+r(1000)
			gap: 15px 2.5%

		+r(767)
			gap: 15px 2.6%

		+r(480)
			gap: 15px 3.5%

		&:last-child
			margin-bottom: 0

		&_pdf
			border-top: 25px solid #DA2222 
			padding: 40px 10px 50px
			width: 14.5%
			background: #FFFFFF
			box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2)
			border-radius: 8px
			font-weight: 700
			font-size: 24px
			line-height: 28px
			text-decoration: none
			color: #000
			text-align: center

			+r(1000)
				width: 18%

			+r(767)
				width: 23%

			+r(480)
				width: 31%


			&:hover
				transform: scale(.98)
				color: #AB8B33

			&:active
				transform: scale(1.02)
				color: #c2c2c3

.news
	padding: 50px 0 70px
	background: #fff

	&__title
		color: $text
		font-size: 33px
		font-weight: 800

	&__info
		margin-bottom: 15px

	&__subtitle
		font-weight: 600
		font-size: 16px
		line-height: 19px

		+r(1000)
			font-size: 14px
			line-height: 16px

	&__wrap
		width: 100%
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		gap: 25px

	&__item
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		gap: 3%
		margin: 0 auto
		padding: 20px
		background: #fff
		box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2)
		border-radius: 8px
		color: $text
		text-decoration: none
		+transition

		+r(1000)
			width: 48%
			gap: 10px

		+r(767)
			width: 100%
			gap: 4%

		&:hover
			color: $text
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4)

			img
				transform: scale(1.02)

		&:active
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4)
			img
				transform: scale(1.02)

		ul
			display: flex
			flex-wrap: wrap
			gap: 8px 60px
			line-height: 15px

		li
			position: relative
			padding-left: 20px

		p
			font-size: 16px
			line-height: 19px

			+r(1000)
				font-size: 14px
				line-height: 16px

		svg
			position: absolute
			left: 0

	&__img
		width: 46%

		+r(1000)
			width: 100%

			img
				width: 100%
			
	&__content
		width: 51%

		+r(1000)
			width: 100%

	&__subtitle
		font-weight: 600
		font-size: 16px
		line-height: 25px

	&__work
		margin-bottom: 8px

	date
		color: #686868

	p
		font-weight: 400
		font-size: 16px
		line-height: 19px

.appeal
	padding: 50px 0

	+r(767)
		padding: 25px 0

	&__title
		font-weight: 800
		font-size: 33px
		line-height: 42px
		color: $text
		margin-bottom: 25px

	&__block
		display: flex
		gap: 2%

	&__img
		margin-bottom: 10px

	&__director
		text-align: center
		width: 31%

		+r(767)
			display: none

		img
			width: 100%

	&__subtitle
		font-size: 16px
		margin-bottom: 5px

	&__welcome
		position: relative
		padding: 20px 20px 0
		background: #FFFFFF
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2)
		border-radius: 8px
		width: 67%
		color: $text

		+r(767)
			padding: 20px 10px
			width: 100%

		&_subtitle
			margin-bottom: 10px
			font-weight: 600
			font-size: 16px
			line-height: 40px

			+r(1000)
				line-height: 25px

	p
		margin-bottom: 22px
		font-size: 16px
		line-height: 20px

		&:last-child
			margin-bottom: 0

	ul
		display: flex
		flex-wrap: wrap
		gap: 10px 6%
		margin-bottom: 25px

		+r(1000)
			display: none

	li
		width: 47%
		color: #686868
		padding-left: 15px
		position: relative
		font-size: 17px
		line-height: 17px

		&::before
			content: ""
			display: block
			position: absolute
			left: 0
			top: 7px
			background: #C4C4C4
			width: 5px
			height: 5px
			border-radius: 50%

	span
		display: block
		width: 100%
		color: #111
		margin-bottom: 8px
		font-size: 17px

.message
	padding: 50px 0

	&__title
		margin-bottom: 25px
		font-weight: 800
		font-size: 36px
		line-height: 42px

	&__wrap
		display: flex
		position: relative
		justify-content: space-between
		background: #fff
		box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2)
		border-radius: 8px
		padding: 30px 45px 35px

		+r(567)
			padding: 45px 20px 25px

	&__form
		width: 67%

		+r(1000)
			width: 100%

		&_first
			display: flex
			width: 100%
			gap: 10%

			+r(567)
				flex-wrap: wrap

		input, button
			width: 100%
			font-size: 18px
			line-height: 50px
			margin-bottom: 15px
			background: transparent
			border: none
			border-bottom: 1px solid #686868
			color: #686868
			text-align: left

		button
			margin-bottom: 0

	&__logo
		display: flex
		align-items: center
		justify-content: center
		width: 27%

		+r(1000)
			display: none

































