@import base

.container
	width: 1000px
	padding: 0 15px
	margin: 0 auto

.header
	padding: 30px 0
	background-size: cover
	background-image: url(../images/dist/header__bgd.png)


	&__container
		+between


